.user-container {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

p {
    margin: 20px;
}