* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: black;
    color: white;
    display: flex;
    flex-flow: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .componente {
    background-color: rgb(30, 30, 30);
    margin: 10px;
    padding: 20px;
    border: 1px solid rgb(1, 51, 87);
    border-radius: 5px;
  }
  
  p.titulo {
    background: rgba(37, 193, 214, 0.697);;
    margin: 4px;
    padding: 4px;
  }
  
  h1 {
    color: rgba(128, 214, 37, 0.697);
  }
  
  button {
    width: 10%;
    height: 30px;
    color: white;
    background: rgb(30, 30, 81);
    font-size: 14px;
    border-radius: 5px;
  }
  
  button:hover{
    color: rgb(30, 30, 81);
    background: #fff;
    font-size: 14px;
  }