/* App.css*/
body {
    background-color: rgb(27, 42, 74);
    color: #fff;
}

.titulo {
    padding: 20px;
    color: white;
}

.formulario {
    background-color: rgb(44, 61, 98);
    color: white;
}