* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  display: flex;
  flex-flow: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.componente {
  background-color: rgb(30, 30, 30);
  margin: 10px;
  padding: 20px;
}

p.titulo {
  background: rgba(37, 193, 214, 0.697);;
  margin: 4px;
  padding: 4px;
}

h1 {
  color: rgba(128, 214, 37, 0.697);
}